@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@1,8..60,626&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.bo{
  background-position-y: 50px;
 background-color: white;
  background-size:contain;
  background-repeat: no-repeat;
  
}

.encabezado{
position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 2.3) ;
  display: flex;
  justify-content: left;

  width: auto;  
background-color: #c7c7c7;
height: 150px;
}

.encabezado>.logo_contenedor{
  position: absolute;
  top: 10px;
  left: 350px;
}

.encabezado>.logo_contenedor>.logo{
  justify-content: center;
  align-items: center;

   width: 250px;
    height: 60px;
    
    border-bottom: 8px solid #713112;
   border-top: 8px solid #713112;
    background-color:#c7c7c7;
  
   margin-top: 20px;
}


.logo_contenedor>.logo>.Nombre_Empresa{


    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         font-size: 2rem;
        font-weight: 60px;
        color: black;
       margin-left: 5px;
       text-shadow: 8px 2px 5px rgba(45, 44, 44, 0.8);
    
}
.logo_contenedor>.logo>.sub_Nombre{
  font-family: 'Source Serif 4', serif;
  font-size: 25px;
  font-weight: 60px;
 color: rgb(244, 240, 240);
 text-shadow: 12px 3px 3px rgba(34, 30, 30, 0.8);
 margin-top: 5px;
 margin-top:15px;
 margin-left: 10px;
}


/* ///////////////////////////////////////////////////////////////////////////////// */
.navbar>.container-fluids{
  background-color: white;
}
/* /////////////////////////////////////////////////////////////////////////////////// */
.con{

  box-shadow: 0 0 20px rgba(0, 0, 0, 2.3) ;
  display: flex;
  justify-content: left;

  width: auto;  
background-color: #c7c7c7;
height: 150px;


}
.con>.conter{
  
  justify-content: center;
  align-items: center;
  
height: 20px;
width: 40px;
  margin: 30px;
  margin-top: 20px;
  align-items: center;
}
.con>.dropdown{
  
  margin-left: 50px;
  margin-top: 90px;
 
}
.con>.dropdown>.btn{
  
  background-color:#c7c7c7;
  border: none;
  color: #000;
}
.con>.dropdown>.dropdown-menu>li>.dropdown-item{

 color: #000;
}
.con>.conter>img{
   
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    
    background-image:url("../ICON/1.png");
    background-repeat: no-repeat; 
    background-size: cover;
    background-size: 40px;
  
}
.con>.contenedor{
  
  justify-content: center;
  align-items: center;

   width: 250px;
    height: 60px;
    
    border-bottom: 8px solid #713112;
   border-top: 8px solid #713112;
    background-color:#c7c7c7;
  
   margin-top: 20px;
  
}

.con>.contenedor>.Nombre_Empresa{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 2rem;
    font-weight: 60px;
    color: black;
   margin-left: 5px;
   text-shadow: 8px 2px 5px rgba(45, 44, 44, 0.8);
}

.con>.contenedor>h2{
  font-family: 'Source Serif 4', serif;
    font-size: 25px;
    font-weight: 60px;
   color: rgb(244, 240, 240);
   text-shadow: 12px 3px 3px rgba(34, 30, 30, 0.8);
   margin-top: 5px;
   margin-top:15px;
   margin-left: 10px;
}
/* ///////////////////////////////////////////////////////////////////////////////// */

  .imagen{
height: 100px;

align-items: center;
  }

  .imagen>.interno{

    width: 70%;
    height: 100px;
    background-color: #bab2b2c5;
    color: #403f3f;
    margin-left: 17%;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    padding: 10px;
  box-shadow: 0 0 5px rgb(49, 49, 47);
    display: flex;
    justify-content: center;
    align-items: center;
  
    position: relative;
    border-radius: 20px 20px 0 0;

  }
  /*/////////////////////////////////////////////////////////////////////////////////*/


.banner-secundario {
  margin-top: 30px;
  width: 100%;
  height: 70px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-secundario > .texto-banner {
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
}

/* ///////////////////////////////////////////////////////////////////////////////// */

.container>.row{
  align-items: center;
  justify-content: center;

}

.card-img-top {
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.btn {
  margin-top: 5px !important;
}


.card {
  transition: all 0.5s ease-in;
  border: none !important;
  
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/*//////////////////////////// */

.inferior {
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 80px;
  /* height: auto; Cambiado a 'auto' para permitir un tamaño dinámico basado en el contenido */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
width: auto;
  background-color: gray; 
  padding: 10px;
  flex-wrap: wrap; /* Permite el ajuste dinámico en varias líneas en dispositivos pequeños */
}

.inferior>.social_titulo{
margin: 20px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.inferior>.contenedor_nav>.nav{
  gap: 30px;
}
.sobrita{
  box-shadow: 0 0 5px gray;
  height: 55px;
  
}

 @media only screen and (max-width: 768px) {
  .con>.dropdown{
  
    margin-left: 50px;
    margin-top: 40px;
   
  }

}

@media only screen and (max-width: 576px) {
  .con>.dropdown{
  
    margin-left: 50px;
    margin-top: 40px;
   
  }
}



    @media only screen and (max-width: 768px) {
        .informaciones,
        .Redes {
            width: 100%;
        }
    }
